.header {
  text-align: center;
}

.customerData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

table {
  width: 95vw;
}
td, th {
  border: 2px solid #ddd;
  padding: 1rem;
  text-align: center;
  width: 5vw;
  padding: 0.5rem;
}

input {
  /* width: 100%; */
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
